.header {
  position: absolute;
  z-index: 10;
  width: 100%;

  &-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    @media (max-width: 767px) {
      padding: 24px 0;
    }

    &__logo {
      width: 86px;
      height: 20px;

      @media (max-width: 767px) {
        width: 73px;
        height: 17px;
      }

      img,
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;

        path {
          transition: all 0.4s ease;
        }
      }
    }

    &__nav {
      display: flex;
      margin: 0 0 0 auto;

      &-theme {
        cursor: pointer;
        position: relative;
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;

        transition: all 0.4s ease;

        svg {
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          transition: all 0.5s ease;

          &:nth-child(2) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, 100px);
          }
        }

        &::before {
          content: '';
          flex: 0 0 auto;
          display: block;
          width: 43px;
          height: 43px;
          background-color: #fff;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          bottom: -40px;
          transform-origin: left;
          transition: transform 0.5s ease, opacity 1s ease 0.2s;

          @media (max-width: 767px) {
            bottom: -36px;
          }
        }
      }
    }

    &__btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 50px;
      margin: 0 0 0 10px;
      padding: 0 20px 0 24px;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.1);

      transition: all 0.3s ease;

      &:hover {
        background: rgba(255, 255, 255, 0.2);

        .header-body__btn-icon {
          span {
            &::before {
              width: 100%;
            }
          }
        }
      }
      &:active {
        background: #fff;

        .header-body__btn-icon {
          path {
            stroke: #000;
            fill: #000;
          }
        }

        .header-body__btn-text {
          color: #000;
        }
      }

      @media (max-width: 767px) {
        width: 50px;
        padding: 0;
        justify-content: center;
      }

      &-icon {
        position: relative;
        width: 18px;
        height: 13px;

        span {
          display: block;
          width: 100%;
          position: absolute;
          height: 1px;
          background-color: rgba($color: #fff, $alpha: 0.1);
          border-radius: 12px;

          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            background-color: #fff;
            transition: all 0.3s ease;
          }

          &:nth-child(1) {
            top: 0;

            &::before {
              width: 100%;
            }
          }
          &:nth-child(2) {
            top: 6px;

            &::before {
              width: 60%;
            }
          }
          &:nth-child(3) {
            bottom: 0;

            &::before {
              width: 35%;
            }
          }
        }

        svg {
          width: 100%;
          height: 100%;

          path {
            transition: all 0.3s ease;
          }
        }
      }

      // &-lines {
      //   position: relative;
      //   width: 18px;
      //   height: 12px;

      //   span {
      //     position: absolute;
      //     display: block;
      //     width: 100%;
      //     height: 2px;
      //     background-color: rgba(255, 255, 255, 0.1);
      //     border-radius: 14px;
      //     overflow: hidden;

      //     &::before {
      //       content: '';
      //       position: absolute;
      //       left: 0;
      //       right: 0;
      //       top: 0;
      //       bottom: 0;
      //       background: #fff;
      //       border-radius: 14px;
      //     }

      //     &:nth-child(1) {
      //       top: 0;
      //     }
      //     &:nth-child(2) {
      //       top: 5px;
      //       &::before {
      //         width: 11px;
      //       }
      //     }
      //     &:nth-child(3) {
      //       bottom: 0;
      //       &::before {
      //         width: 7px;
      //       }
      //     }
      //   }
      // }

      &-text {
        margin: 0 0 0 10px;
        color: #fff;
        font-family: 'Plus Jakarta Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        text-transform: uppercase;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}

.menu {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;

  transform: translate(0, -100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease,
    background-color 0.4s ease;
  pointer-events: none;
  visibility: hidden;
  padding: 0 0 86px;

  // background-color: #000;
  background-image: url(../img/header/bg-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   display: block;
  //   height: 100%;
  //   top: 0;
  //   right: 0;
  //   left: 0;

  // }

  &.active {
    transform: translate(0);
    opacity: 1;
    pointer-events: unset;
    visibility: visible;
  }

  @media (max-width: 767px) {
    background-image: url(../img/header/bg-gradient-mob.png);
    transform: translate(100%, 0);
    // padding: 0 0 150px;
    padding: 16px 0 40px;

    .container {
      padding: 0;
    }

    .menu-col {
      overflow: visible;
    }

    @media (max-height: 620px) {
      justify-content: flex-start;
      padding: 0 0 70px;
    }
  }

  // &-inner {
  //   background-image: url('../img/header/bg-gradient.png');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   padding: 0 0 86px;

  //   @media (max-width: 767px) {
  //     background-image: url('../img/header/bg-gradient-mob.png');
  //     padding: 16px 0 40px;
  //   }
  //   @media (max-height: 620px) {
  //     padding: 0 0 70px;
  //   }
  // }

  &__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;

    // height: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      &:nth-child(2) {
        display: none;
      }

      @media (max-width: 767px) {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    @media (max-width: 767px) {
      padding: 24px;
    }

    &__logo {
      height: 20px;

      @media (max-width: 767px) {
        height: 17px;
      }

      img,
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all 0.4s ease;
      }
    }

    &__btn {
      margin: 0 0 0 auto;
      background: rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
      &:active {
        background: #fff;

        .header-body__btn-icon {
          path {
            fill: #000;
          }
        }

        .header-body__btn-text {
          color: #000;
        }
      }

      .header-body__btn-icon {
        width: 21px;
        height: 21px;

        path {
          transition: all 0.3s ease;
        }

        svg {
          &:nth-child(2) {
            display: none;
          }

          @media (max-width: 767px) {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: block;
            }
          }
        }

        @media (max-width: 767px) {
          width: 24px;
          height: 24px;
        }
      }
      .header-body__btn-text {
        margin: 0 0 0 8px;
      }
    }
  }

  &-body {
    display: flex;
    margin: 60px 0 0;

    @media (max-width: 767px) {
      flex-wrap: wrap-reverse;
      margin: 0;
    }
  }

  &-info {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      color: #fff;
      font-family: Plus Jakarta Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      text-transform: capitalize;

      br {
        display: none;
      }

      @media (max-width: 767px) {
        text-align: center;
        font-size: 18px;
      }
    }

    &__subtitle {
      margin: 16px 0 0;
      color: rgba(255, 255, 255, 0.5);
      font-family: Plus Jakarta Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;

      span {
        color: #fff;
      }

      @media (max-width: 767px) {
        font-size: 14px;
        text-align: center;

        br {
          display: none;
        }
      }
    }

    &__btn {
      margin: 40px 0 0;
      padding: 0 46px;

      @media (max-width: 767px) {
        height: 50px;
        margin: 16px auto 0;
        padding: 0 20px;
        width: 100%;
        max-width: 340px;
      }
    }
  }

  &-social {
    display: flex;
    padding: 40px 0 0;
    margin: auto 0 0;

    @media (max-width: 767px) {
      display: none;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 50px;
      height: 50px;
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.1);

      transition: all 0.3s ease;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      &:not(:first-child) {
        margin: 0 0 0 16px;
      }
    }
  }

  &-paper {
    cursor: pointer;
    display: flex;
    margin: 32px 0 0;

    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-decoration-line: underline;

    transition: all 0.3s ease;

    &:hover {
      color: #fff;
      text-decoration-line: none;

      svg {
        path {
          fill-opacity: 1;
        }
      }
    }

    @media (max-width: 767px) {
      display: none;
    }

    svg {
      width: 19px;
      height: 19px;
      margin: 0 10px 0 0;

      path {
        transition: all 0.3s ease;
      }
    }
  }

  &-col {
    position: relative;
    flex: 0 0 calc(50% - 6px);
    border-radius: 15px;
    margin: 1px;
    background: rgba(58, 58, 58, 0.3);
    border: 1px solid hsla(0, 0%, 100%, 0.14);
    overflow: hidden;
    // border: 1px solid #353536;
    // background: #121212;

    @media (max-width: 767px) {
      flex: 1 1 100%;
      background-color: transparent;
      border: none;
      margin: 0;

      &:nth-child(1) {
        margin: 70px 0 0;
      }
    }

    &:not(:first-child) {
      margin: 1px 1px 1px 13px;

      @media (max-width: 767px) {
        margin: 0;
      }
    }

    // &::before {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   z-index: -1;
    //   top: -1px;
    //   left: -1px;
    //   right: -1px;
    //   bottom: -1px;
    //   border-radius: 15px;
    //   opacity: 0.35;
    //   background: linear-gradient(
    //     -45deg,
    //     rgba(255, 255, 255, 1) 0%,
    //     rgba(0, 3, 30, 1) 50%,
    //     rgba(255, 255, 255, 1) 100%
    //   );
    // }

    &_info {
      display: flex;
      flex-direction: column;
      padding: 60px;

      @media (max-width: 991px) {
        padding: 20px;
      }

      @media (max-width: 767px) {
        padding: 0 24px;
      }
    }
  }

  &-links {
    &__item {
      display: flex;
      align-items: flex-end;
      padding: 35px 60px;

      transition: all 0.3s ease;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      &:active {
        background: #04afdd;
      }

      &:not(:first-child) {
        border-top: 1px solid #4f4f51;
      }

      @media (max-width: 767px) {
        border: none !important;
        position: relative;
        padding: 14px 24px;

        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background: linear-gradient(
            270deg,
            rgba(15, 19, 25, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(27, 16, 38, 0.2) 100%
          );
        }
        &:last-child {
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(
              270deg,
              rgba(15, 19, 25, 0.2) 0%,
              rgba(255, 255, 255, 0.2) 50%,
              rgba(27, 16, 38, 0.2) 100%
            );
          }
        }
      }

      &-title {
        color: #fff;
        font-family: Plus Jakarta Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        text-transform: capitalize;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }

      &-num {
        margin: 0 0 0 10px;
        color: rgba(255, 255, 255, 0.5);
        leading-trim: both;
        text-edge: cap;
        font-family: Plus Jakarta Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;

        @media (max-width: 767px) {
          margin: 0 0 0 6px;
          font-size: 10px;
        }
      }

      &-arrow {
        margin: 0 0 0 auto;

        @media (max-width: 767px) {
          width: 18px;
          height: 18px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
