<head>
  <meta charset="UTF-8">
  <meta title="Zeno Learning: Where Gamification Meets Online Education" />
  <meta description="Dive into Zeno's courses and earn while you learn. Simple, engaging, and rewarding. Discover a new way to grow your skills and knowledge. Join now!" />
  <meta property="og:title" content="Zeno Learning: Where Gamification Meets Online Education" />
  <meta property="og:description" content="Dive into Zeno's courses and earn while you learn. Simple, engaging, and rewarding. Discover a new way to grow your skills and knowledge. Join now!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.zeno-learning.com/" />
  <meta property="og:image" content="https://www.zeno-learning.com/img/64b4e396de7e160014dc67cd.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="Zeno Logo" />
  <meta property="og:image:width" content="1462" />
  <meta property="og:image:height" content="1022" />
  <meta property="og:site_name" content="Zeno Learning" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=0" />
  
  <link rel="stylesheet" href="css/style.min.css">
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- ios fix -->
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <title>@@title</title>
</head>