<div class="modal">
  <div class="modal__bg"></div>
  <div class="modal-body">

    <div class="modal-body__title">
      Coming Soon
    </div>
    <div class="modal-body__text">
      Stay Informed, Stay Ahead! Our Exclusive Updates are on the Way. Apply Now to Get Early Access!
    </div>
    <div class="atropos atropos-main-btn">
      <div class="atropos-scale">
        <div class="atropos-rotate">
          <div class="atropos-inner">
            <a href="https://early-access.zeno-learning.com/apply/" target="_blank"
              class="modal-body__btn btn btn_blue">
              <span>Get Early Access</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body__close">Close</div>
  </div>
</div>