<footer id="plans" class="footer">
  <div class="footer__bg">
    <img src="./img/footer/gradient.png" alt="">
    <img src="./img/footer/gradient-mob.png" alt="">
  </div>
  <div class="container">
    <div data-aos="fade-up" class="footer-body">
      <div class="footer-body__content">
        <div class="footer-body__content-title">
          Are you ready to start learning with Zeno?
        </div>
        <div class="footer-body__content-subtitle">
          Become our student and rise with us <span>😎</span>
        </div>
        <div class="atropos atropos-main-btn">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner">
                <div class="footer-body__content-btn btn modal-open-btn">
                  <span>Get Early Access</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-body__content-anim">
          <video muted playsinline webkit-playsinline autoplay loop>
            <source src="./files/footer/anim.webm">
            <source src="./files/footer/anim.mp4">
          </video>
        </div>
      </div>
      <div class="footer-body__bottom">
        <div class="footer-body__links">
          <!-- <a href="#categories" class="footer-body__links-item">Categories</a>
          <a href="#teachers" class="footer-body__links-item">Teachers</a>
          <a href="#rewards" class="footer-body__links-item">Rewards</a>
          <a href="#character" class="footer-body__links-item">Character</a>
          <a href="#reviews" class="footer-body__links-item">Reviews</a>
          <a href="#faq" class="footer-body__links-item">FAQ</a> -->
          <a href="" class="footer-body__links-item">Home</a>
          <a target="_blank" href="http://zenolearning.io" class="footer-body__links-item">Blog</a>
          <a target="_blank" href="https://medium.com/@zeno.io" class="footer-body__links-item">Medium</a>
          <a target="_blank" href="https://zaap.bio/zeno" class="footer-body__links-item">Socials</a>
          <a href="mailto:zeno@zeno-learning.com" class="footer-body__links-item">Contact</a>
          <!-- <a href="#plans" class="footer-body__links-item">Plans</a> -->
        </div>
        <a href="https://zeno-office.gitbook.io/zeno-litepaper/overview/what-is-zeno" target="_blank"
          class="footer-body__paper">
          <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6.31484 14.0527H12.6878V12.8652H6.31484V14.0527ZM6.31484 10.6882H12.6878V9.50065H6.31484V10.6882ZM4.35547 17.4173C4.0388 17.4173 3.76172 17.2986 3.52422 17.0611C3.28672 16.8236 3.16797 16.5465 3.16797 16.2298V2.77148C3.16797 2.45482 3.28672 2.17773 3.52422 1.94023C3.76172 1.70273 4.0388 1.58398 4.35547 1.58398H11.5003L15.8346 5.91836V16.2298C15.8346 16.5465 15.7159 16.8236 15.4784 17.0611C15.2409 17.2986 14.9638 17.4173 14.6471 17.4173H4.35547ZM10.9065 6.45273H14.6471L10.9065 2.77148V6.45273Z"
              fill="white" fill-opacity="0.5" />
          </svg>
          Read Whitepaper
        </a>
      </div>
    </div>
  </div>
</footer>