.about {
  position: relative;
  z-index: 1;
  padding: 128px 0 0;

  @media (max-width: 767px) {
    padding: 100px 0 0;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    top: -640px;
    left: 0;
    right: 0;

    @media (max-width: 767px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      &._light {
        display: none;
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;

    &__title {
      color: #fff;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 38px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%;
      text-transform: capitalize;

      @media (max-width: 767px) {
        font-size: 24px;
        text-align: center;
      }

      span {
        color: #04afdd;
      }
    }

    &__descr {
      margin: 24px 0 0;

      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;

      @media (max-width: 767px) {
        margin: 16px 0 0;
        font-size: 16px;

        br {
          display: none;
        }
      }
    }

    .atropos-main-btn {
      margin: 0 auto;
      display: inline-block;

      @media (max-width: 767px) {
        width: 100%;
        max-width: 320px;
        // margin: 32px auto 0;
      }
    }

    &__btn {
      margin: 48px auto 0;
      padding: 0 85px;

      @media (max-width: 767px) {
        margin: 32px auto 0;
        padding: 0 20px;
        width: 100%;
        max-width: 320px;
      }
    }
  }
  &-body {
    margin: 64px 0 0;

    @media (max-width: 767px) {
      position: relative;
      margin: 32px 0 0;

      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -5;
        border-radius: 15px;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #fff;
      }
    }
  }
  &-video {
    position: relative;
    padding: 20px;
    border-radius: 15px;
    background: rgba(58, 58, 58, 0.3);
    backdrop-filter: blur(20px);
    // border: 1px solid hsla(0, 0%, 100%, 0.14);
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: 15px;
      padding: 1px;
      background: linear-gradient(
        -45deg,
        rgba(#ffffff, 0.25) 0,
        rgba(#00031e, 0) 30%,
        rgba(#00031e, 0) 60%,
        rgba(#ffffff, 0.25) 100%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    @media (max-width: 767px) {
      padding: 5px;
    }

    &.play {
      .about-video__play {
        display: none;
      }
    }

    & > img {
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 20px;
      object-fit: cover;
      width: calc(100% - 40px);
      height: calc(100% - 40px);

      @media (max-width: 767px) {
        left: 5px;
        top: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
      }
    }

    video {
      width: 100%;
      height: 100%;
    }

    img,
    video {
      overflow: hidden;
      border-radius: 15px;
    }

    &__play {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid hsla(0, 0%, 100%, 0.14);
      background-color: rgba(16, 16, 16, 0.5);
      backdrop-filter: blur(7.5px);
      border-radius: 50%;
      overflow: hidden;

      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(16, 16, 16, 0.25);
      }

      @media (max-width: 767px) {
        width: 60px;
        height: 60px;
      }

      img {
        flex: 0 0 auto;
        width: 32px;
        height: 32px;
        object-fit: contain;

        @media (max-width: 767px) {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  &-row {
    display: flex;
    gap: 10px;
    margin: 10px 0 0;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &-col {
    min-height: 280px;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333%);
    overflow: hidden;
    padding: 32px;
    border-radius: 15px;
    background: rgba(58, 58, 58, 0.3);
    backdrop-filter: blur(20px);
    // border: 1px solid hsla(0, 0%, 100%, 0.14);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: 15px;
      padding: 1px;
      background: linear-gradient(
        -45deg,
        rgba(#ffffff, 0.25) 0,
        rgba(#00031e, 0) 30%,
        rgba(#00031e, 0) 60%,
        rgba(#ffffff, 0.25) 100%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    @media (max-width: 767px) {
      min-width: 0;
      flex: 1 1 auto;
      min-height: auto;
      padding: 20px;
      align-items: center;
    }

    &__slider {
      // overflow: hidden;

      @media (max-width: 767px) {
        width: 100%;
        min-width: 0;

        .swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 8px;
      background: rgba(16, 16, 16, 0.5);
      border: 1px solid hsla(0, 0%, 100%, 0.14);
    }

    &__title {
      margin: 20px 0 0;

      color: #fff;
      font-family: Plus Jakarta Sans;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    &__text {
      margin: 16px 0 0;
      color: rgba(255, 255, 255, 0.5);
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;

      @media (max-width: 767px) {
        text-align: center;
        font-size: 14px;
      }
    }

    &__value {
      margin: 20px 0 0;
      color: #fff;
      font-family: Plus Jakarta Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;

      @media (max-width: 767px) {
        font-size: 17px;
      }
    }

    &__pagination {
      padding: 20px 0 0;
      margin: auto 0 0;
      display: flex;

      @media (max-width: 767px) {
        padding: 0;
        margin: 24px 0 0;
        justify-content: center;
      }

      span {
        flex: 0 0 auto;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #636262;
        transition: all 0.3s ease;

        &:not(:first-child) {
          margin: 0 0 0 8px;
        }

        &.swiper-pagination-bullet-active {
          width: 22px;
          border-radius: 20px;
          background-color: #00d1ff;
        }
      }
    }
  }
}
