.faq {
  position: relative;
  z-index: 1;
  margin: 128px 0 0;

  @media (max-width: 767px) {
    margin: 100px 0 0;

    .container {
      padding: 0;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -200px;
    pointer-events: none;

    @media (max-width: 767px) {
      top: -300px;
      left: 0;
    }

    img {
      &:nth-child(2) {
        display: none;
      }

      &._light {
        display: none;
      }

      @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        object-fit: contain;

        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  }

  &__title {
    color: #fff;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    @media (max-width: 767px) {
      font-size: 24px;
      padding: 0 24px;
    }
  }

  &-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 48px 0 0;
    gap: 6px;

    @media (max-width: 767px) {
      margin: 32px 0 0;
      padding: 0 0 10px;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: scroll;
      padding: 0 24px 10px;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        box-shadow: none;
      }
    }

    &__item {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      height: 40px;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      padding: 0 20px;
      border-radius: 8px;
      background: rgba(58, 58, 58, 0.3);

      transition: all 0.3s ease;

      @media (max-width: 767px) {
        height: 32px;
        padding: 0 8px;
        font-size: 14px;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.2);
        color: #9a9a9a;
      }

      &.active {
        background: #fff;
        color: #000;
      }
    }
  }
  &-body {
    display: none;
    margin: 46px auto 0;
    max-width: 960px;

    @media (max-width: 767px) {
      margin: 22px 0 0;
      padding: 0 24px;
    }

    &.active {
      display: block;
    }

    &__item {
      position: relative;
      border-radius: 15px;
      background: rgba(58, 58, 58, 0.3);
      padding: 24px;
      // border: 1px solid hsla(0, 0%, 100%, 0.14);

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: 15px;
        padding: 1px;
        background: linear-gradient(
          -45deg,
          rgba(#ffffff, 0.25) 0,
          rgba(#00031e, 0) 30%,
          rgba(#00031e, 0) 60%,
          rgba(#ffffff, 0.25) 100%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }

      @media (max-width: 767px) {
        padding: 16px;
      }

      &:not(:first-child) {
        margin: 10px 0 0;
      }

      &.open {
        .faq-body__item-question {
          span {
            background-color: #fff;
            svg {
              // opacity: 0.5;
              transform: rotate(45deg);

              path {
                stroke: #000;
              }
            }
          }
        }
      }

      &-question {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: #fff;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 105%;

        @media (max-width: 767px) {
          font-size: 16px;
        }

        span {
          flex: 0 0 auto;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          margin: 0 0 0 16px;

          transition: all 0.3s ease;

          &:hover {
            background: rgba(255, 255, 255, 0.2);
          }

          @media (max-width: 767px) {
            width: 40px;
            height: 40px;

            svg {
              width: 20px;
              height: 20px;
            }
          }

          svg {
            transition: all 0.3s ease;

            path {
              transition: all 0.3s ease;
            }
          }
        }
      }

      &-answer {
        overflow: hidden;
        height: 0;
        max-width: 530px;

        color: rgba(255, 255, 255, 0.5);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;

        transition: all 0.4s ease;

        @media (max-width: 767px) {
          font-size: 14px;
        }

        &__wrapper {
          margin: 16px 0 0;

          @media (max-width: 767px) {
            padding: 0 60px 0 0;
          }
        }
      }
    }
  }
}
