.partners {
  position: relative;
  z-index: 1;

  &__title {
    color: #fff;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  &-navigation {
    display: flex;
    justify-content: center;
    margin: 32px 0 0;

    @media (max-width: 767px) {
      display: none;
    }

    &__item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease;

      &:hover {
        background-color: #04afdd;
      }

      &:active {
        background-color: #00d1ff;

        svg {
          path {
            fill: #000;
          }
        }
      }

      &:last-child {
        svg {
          transform: scale(-1, 1);
        }
      }

      &:not(:first-child) {
        margin: 0 0 0 10px;
      }

      &.swiper-button-disabled {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.1);

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
  &-body {
    margin: 48px 0 0;
    overflow: hidden;

    @media (max-width: 767px) {
      margin: 32px 0 0;
      overflow: visible;

      .swiper-slide {
        opacity: 0.3;
        transition: opacity 0.4s ease;

        &.swiper-slide-active {
          opacity: 1;
        }
      }
    }

    .partners-card {
      height: 248px !important;
      border-radius: 15px;
      padding: 40px 32px 10px;
      background: rgba(58, 58, 58, 0.3);
      backdrop-filter: blur(20px);
      // border: 1px solid hsla(0, 0%, 100%, 0.14);

      @media (max-width: 1023px) {
        padding: 20px 16px 10px;
        height: 280px !important;
      }
      @media (max-width: 767px) {
        padding: 24px 24px 10px;
        height: 230px !important;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: 15px;
        padding: 1px;
        background: linear-gradient(
          -45deg,
          rgba(#ffffff, 0.25) 0,
          rgba(#00031e, 0) 30%,
          rgba(#00031e, 0) 60%,
          rgba(#ffffff, 0.25) 100%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }

      &__logo {
        width: 100%;
        height: 64px;

        svg {
          width: 100%;
          height: 100%;

          // path,
          // rect {
          //   // fill: #080d14;
          //   fill: #fff;
          // }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;

          &._light {
            display: none;
          }
        }
      }
      &__descr {
        margin: 16px 0 0;

        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        @media (max-width: 767px) {
          margin: 4px 0 0;
        }
      }
    }
  }
  &-bottom {
    margin: 24px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .partners-navigation__item {
      flex: 0 0 auto;
      display: none;

      @media (max-width: 767px) {
        display: flex;
      }
    }
  }
  &-pagination {
    display: flex;
    justify-content: center;
    margin: 6px 0 0;

    @media (max-width: 767px) {
      display: inline-flex;
      margin: 0;
      flex: 0 1 auto;
      width: auto !important;
      margin: 0 auto;
    }

    span {
      flex: 0 0 auto;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #636262;
      transition: all 0.3s ease;

      &:not(:first-child) {
        margin: 0 0 0 8px;
      }

      &.swiper-pagination-bullet-active {
        width: 22px;
        border-radius: 20px;
        background-color: #00d1ff;
      }
    }
  }
}
