@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
    url('../fonts/Nunito-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url('../fonts/Mulish-Regular.woff2') format('woff2'),
    url('../fonts/Mulish-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url('../fonts/Nunito-Medium.woff2') format('woff2'),
    url('../fonts/Nunito-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url('../fonts/Mulish-Medium.woff2') format('woff2'),
    url('../fonts/Mulish-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: OpenSans_Condensed;
  font-display: swap;
  src: url('../fonts/OpenSans_Condensed-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans_Condensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
    url('../fonts/Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
    url('../fonts/Nunito-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Plus Jakarta Sans;
  font-display: swap;
  src: url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Plus Jakarta Sans;
  font-display: swap;
  src: url('../fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Plus Jakarta Sans;
  font-display: swap;
  src: url('../fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Plus Jakarta Sans;
  font-display: swap;
  src: url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Urbanist;
  font-display: swap;
  src: url('../fonts/Urbanist-Medium.woff2') format('woff2'),
    url('../fonts/Urbanist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
